.app__services {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  overflow-x: hidden;
  box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.3);
}
.app__services-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.app__services-header-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.app__services-header-content h4 {
  color: var(--color-secondary);
  font-family: var(--font-alt);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0275rem;
}

.app__services-header-content h2 {
  color: var(--color-black);
  font-family: var(--font-base);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.app__services-header-content p {
  color: var(--color-extra);
  font-family: var(--font-alt);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.app__services-header-img {
  width: 100%;
  aspect-ratio: 1/1;
}
.app__services-header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  align-items: flex-start;
  gap: 2.25rem;
}
.responsive-card {
  width: calc(100% - 1rem);
  margin-right: 1rem;
}

@media screen and (max-width: 1250px) {
  .app__services-header {
    height: auto;
    padding: 4rem 0;
  }
  .app__services-header-content h2 {
    font-size: 1.75rem;
  }
  .app__services-header-content {
    gap: 0.75rem;
  }
}
@media screen and (max-width: 850px) {
  .app__services-header {
    flex-direction: column-reverse;
    padding: 0;
  }
  .app__services-header-img {
    width: 80%;
  }
  .app__services-header-content {
    align-items: center;
    gap: 1.5rem;
  }
  .app__services-header-content h4,
  .app__services-header-content h2 {
    align-self: flex-start;
  }
  .container-carousel {
    margin-top: 4rem;
  }
  .app__services-container {
    display: none;
  }
  .responsive-card {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .container-carousel {
    margin-top: 4rem;
  }
  .app__services-header-content h2 {
    font-size: 1.3rem;
  }
  .app__services-header-content {
    gap: 1rem;
  }
}
