.app__about {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fbfc;
  /* background: yellow; */
  /* padding: 0 4rem; */
}
.app__about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7.75rem;
  background-color: var(--color-white);
  /* background-color: red; */
  padding: 0 2rem;
}
.app__about-img {
  /* width: 100%;
  flex: 1; */
  /* padding-left: 4rem; */

  /* width: 30.375rem; */
  /* height: 25.3125rem; */
  /* flex-shrink: 0; */
  /* aspect-ratio: 1/1; */
  /* flex: 1; */
  /* width: 250px;
  height: 100px; */
  /* flex: 1; */
  /* background-image: url("../../assets/plusicons.png"); */
  position: relative;
  /* background: red; */
  /* background-size: cover; */
  /* background-color: rebeccapurple; */
}
.app__about-img img {
  width: 100%;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  border-radius: 2rem;
}

.app__about-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
  padding-left: 4rem;

  /* background-color: rebeccapurple; */
  /* width: 50%; */
}

.app__about-content h4 {
  color: var(--color-secondary);
  font-family: var(--font-alt);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0275rem;
}

.app__about-content h2 {
  color: var(--color-black);
  font-family: var(--font-base);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.app__about-content p {
  color: var(--color-extra);
  font-family: var(--font-alt);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

@media screen and (max-width: 1250px) {
  .app__about-wrapper {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    gap: 1.75rem;
    /* background-color: var(--color-white); */
    padding: 0;
  }
  .app__about-img {
    width: 25.375rem;
    height: 20.3125rem;
    padding-left: 0rem;
  }
  .app__about-content {
    padding-left: 0rem;
  }
  .app__about-content h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  .app__about-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .app__about-content h4 {
    align-self: start;
  }
  .app__about-content h2 {
    font-size: 1.5;
    align-self: start;
  }
  .app__about-content {
    align-items: center;
  }
}
@media screen and (max-width: 850px) {
  .app__about {
    height: auto;
    padding: 6rem 2rem;
    /* background-color: aqua; */
  }

  .app__about-wrapper {
    background: #f9fbfc;
  }
}
@media screen and (max-width: 550px) {
  .app__about-img {
    /* width: 100%;
    flex: 1; */
    /* padding-left: 4rem; */

    /* width: 20%; */
  }
  .app__about-img {
    width: 100%;
    height: auto;
    /* aspect-ratio: 1/1; */
  }
  /* .app__about {
    padding: 0 4rem !important;
    background-color: red;
  } */
}
