.app__navBar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10.59rem;
}
.title {
  position: relative;
}
.title h2 {
  font-family: var(--font-alt);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-primary);
}
.title span {
  position: absolute;
  top: -20px;
  right: -40px;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("../../assets/plus-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.app__navBar-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5rem;
}
.app__navBar-links a {
  color: var(--color-extra);
  font-family: var(--font-alt);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.app__navBar-links a:hover {
  font-weight: 900 !important;
}
.active {
  font-weight: 900 !important;
}
.app__navBar-wrapper {
  height: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.burgerBtn {
  display: none;
}

/* the menu on the small screen */

.wrapper-small-screen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  z-index: 10;
  transition: all 0.3s ease;
  overflow: hidden;
}
.show-menu {
  animation: show-menu 0.3s linear forwards;
}
@keyframes show-menu {
  to {
    left: 0;
  }
}
.small-screen-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.58rem;
}
.link {
  color: #fff;
  text-align: center;
  font-family: var(--font-base);
  font-size: 2.3125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.close-btn {
  width: 2.875rem;
  height: 2.875rem;
  position: absolute;
  top: 40px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.book-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 15.875rem;
  padding: 0.75rem 1rem;
  background-color: var(--color-white);
  border-radius: 6.25rem;
  box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 3.55rem;
}
.book-btn p {
  font-family: var(--font-alt);
  color: var(--color-primary) !important;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@media screen and (max-width: 1250px) {
  .app__navBar {
    padding: 2rem 6rem;
  }
  .title h2 {
    font-size: 1.51019rem;
  }
}
@media screen and (max-width: 900px) {
  .app__navBar {
    padding: 2rem 5rem;
  }
  .burgerBtn {
    display: block;
    cursor: pointer;
  }
  .content-btn,
  .app__navBar-links {
    display: none;
  }
  .wrapper-small-screen {
    display: flex;
  }
}
@media screen and (max-width: 550px) {
  .app__navBar {
    padding: 1rem 2rem;
  }
  .title span {
    top: -10px;
    right: -26px;
    width: 2.13263rem;
    height: 2.13263rem;
  }
}
