.app__bigBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 0.75rem;
  background: var(
    --gradients,
    linear-gradient(145deg, #1678f2 3.73%, #65a8fb 132.69%)
  );
  border: none;
  outline: none;
  padding: 0.5rem 1.125rem;
}
.app__bigBtn div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.app__bigBtn h3 {
  color: var(--color-white);
  font-family: var(--font-base);
  font-size: 1.125rem;
  text-align: start;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.app__bigBtn p {
  font-family: var(--font-alt);
  color: #fff;
  text-align: start;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 100;
  line-height: 140%;
}

@media screen and (max-width: 550px) {
  .app__bigBtn img {
    width: 1.3125rem;
    height: 1.25rem;
    object-fit: cover;
  }
  .app__bigBtn h3 {
    text-align: center;
    font-size: 0.9375rem;
  }
  .app__bigBtn p {
    font-size: 0.625rem;
  }
}
