.section__padding {
  padding: 6rem 11.5rem;
}
@media screen and (max-width: 1840px) {
  .section__padding {
    padding: 6rem 8.5rem;
  }
}
@media screen and (max-width: 1250px) {
  .section__padding {
    padding: 6rem 5rem;
  }
}
@media screen and (max-width: 900px) {
  .section__padding {
    padding: 4rem;
  }
}
@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
}
