@font-face {
  font-family: "CustomFontFamily";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SoraFontFamily";
  src: url("./assets/fonts/sora/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-base: "CustomFontFamily", sans-serif;
  --font-alt: "SoraFontFamily", sans-serif;
  --color-primary: #3a8ef6;
  --color-secondary: #00bfa5;
  --color-extra: #6c87ae;
  --color-background: #f2f7ff;
  --color-white: #ffff;
  --color-black: #031432;
}
body {
  background-color: var(--color-white);
  overflow-x: hidden !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
a {
  color: unset;
  text-decoration: none;
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
